Package: org.thebigboss.camblur7
Name: CamBlur7
Depends: mobilesubstrate, preferenceloader, org.thebigboss.transparentcamerabar, ws.hbang.common (>= 1.2), firmware (>= 7.0), gsc.still-camera | gsc.front-facing-camera
Version: 1.6
Architecture: iphoneos-arm
Description: Blurry cool camera interface.
Author: PoomSmart
Section: Tweaks
Icon: file:///Library/PreferenceBundles/CamBlur7Settings/CamBlur7@2x.png