<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>title</key>
    <string>CamBlur7</string>
    <key>entry</key>
    <dict>
      <key>cell</key>
      <string>PSLinkCell</string>
      <key>icon</key>
      <string>CamBlur7.png</string>
      <key>label</key>
      <string>CamBlur7</string>
    </dict>
    <key>items</key>
    <array>
    <dict>
        <key>cell</key>
        <string>PSSwitchCell</string>
        <key>default</key>
        <true/>
        <key>defaults</key>
        <string>com.PS.CamBlur7</string>
        <key>key</key>
        <string>blur</string>
        <key>label</key>
        <string>Enabled</string>
        <key>PostNotification</key>
		<string>com.PS.CamBlur7/ReloadPrefs</string>
		<key>set</key>
        <string>masterSwitch:specifier:</string>
      </dict>
      <dict>
        <key>cell</key>
        <string>PSGroupCell</string>
        <key>label</key>
      	<string>Configurations</string>
        <key>footerText</key>
        <string>❗ If Backdrop effect option is enabled, the camera bars blur style will be backdrop. (iOS common blurring method)
🔵 Legibility option provides readable text presented on blur bars by adding shadow behind them. Useful if blur color is too bright.</string>
      </dict>
       <dict>
			<key>cell</key>
			<string>PSTableCell</string>
			<key>cellClass</key>
      		<string>BlurQualityCell</string>
      		<key>label</key>
      		<string>Blur Quality</string>
		</dict>
      <dict>
        <key>cell</key>
        <string>PSSwitchCell</string>
        <key>default</key>
        <false/>
        <key>defaults</key>
        <string>com.PS.CamBlur7</string>
        <key>key</key>
        <string>useBackdrop</string>
        <key>label</key>
        <string>Backdrop effect</string>
        <key>PostNotification</key>
		<string>com.PS.CamBlur7/ReloadPrefs</string>
		<key>set</key>
        <string>masterSwitch:specifier:</string>
      </dict>
      <dict>
        <key>cell</key>
        <string>PSSwitchCell</string>
        <key>default</key>
        <false/>
        <key>defaults</key>
        <string>com.PS.CamBlur7</string>
        <key>key</key>
        <string>readable</string>
        <key>label</key>
        <string>Legibility (Beta)</string>
        <key>PostNotification</key>
		<string>com.PS.CamBlur7/ReloadPrefs</string>
		<key>set</key>
        <string>masterSwitch:specifier:</string>
      </dict>
      <dict>
        <key>cell</key>
        <string>PSGroupCell</string>
        <key>label</key>
        <string>Top Bar</string>
        <key>id</key>
        <string>topBar1</string>
      </dict>
      <dict>
        <key>cell</key>
        <string>PSSwitchCell</string>
        <key>default</key>
        <true/>
        <key>defaults</key>
        <string>com.PS.CamBlur7</string>
        <key>id</key>
        <string>topBar2</string>
        <key>key</key>
        <string>blurTop</string>
        <key>label</key>
        <string>Blur</string>
        <key>PostNotification</key>
		<string>com.PS.CamBlur7/ReloadPrefs</string>
		<key>set</key>
        <string>masterSwitch:specifier:</string>
      </dict>
      <dict>
        <key>cell</key>
        <string>PSSwitchCell</string>
        <key>default</key>
        <true/>
        <key>defaults</key>
        <string>com.PS.CamBlur7</string>
        <key>id</key>
        <string>topBar3</string>
        <key>key</key>
        <string>handleEffectTB</string>
        <key>label</key>
        <string>Hide when effects</string>
        <key>PostNotification</key>
		<string>com.PS.CamBlur7/ReloadPrefs</string>
      </dict>
      <dict>
        <key>cell</key>
        <string>PSSwitchCell</string>
        <key>default</key>
        <true/>
        <key>defaults</key>
        <string>com.PS.CamBlur7</string>
        <key>id</key>
        <string>topBar4</string>
        <key>key</key>
        <string>handleVideoTB</string>
        <key>label</key>
        <string>Hide when video</string>
        <key>PostNotification</key>
		<string>com.PS.CamBlur7/ReloadPrefs</string>
      </dict>
      <dict>
        <key>cell</key>
        <string>PSSwitchCell</string>
        <key>default</key>
        <true/>
        <key>defaults</key>
        <string>com.PS.CamBlur7</string>
        <key>id</key>
        <string>topBar5</string>
        <key>key</key>
        <string>handlePanoTB</string>
        <key>label</key>
        <string>Hide when pano</string>
        <key>PostNotification</key>
		<string>com.PS.CamBlur7/ReloadPrefs</string>
      </dict>
      <dict>
      		<key>cell</key>
      		<string>PSTableCell</string>
      		<key>id</key>
      		<string>topBar</string>
      		<key>cellClass</key>
      		<string>CB7ColorCell</string>
      		<key>action</key>
      		<string>showColorPicker:</string>
      		<key>label</key>
      		<string>Blur Color</string>
      </dict>
		<dict>
        <key>cell</key>
        <string>PSGroupCell</string>
        <key>label</key>
        <string>Bottom Bar</string>
        <key>id</key>
        <string>bottomBar1</string>
      </dict>
      <dict>
        <key>cell</key>
        <string>PSSwitchCell</string>
        <key>default</key>
        <true/>
        <key>defaults</key>
        <string>com.PS.CamBlur7</string>
        <key>id</key>
        <string>bottomBar2</string>
        <key>key</key>
        <string>blurBottom</string>
        <key>label</key>
        <string>Blur</string>
        <key>PostNotification</key>
		<string>com.PS.CamBlur7/ReloadPrefs</string>
		<key>set</key>
        <string>masterSwitch:specifier:</string>
      </dict>
      <dict>
        <key>cell</key>
        <string>PSSwitchCell</string>
        <key>default</key>
        <true/>
        <key>defaults</key>
        <string>com.PS.CamBlur7</string>
        <key>id</key>
        <string>bottomBar3</string>
        <key>key</key>
        <string>handleEffectBB</string>
        <key>label</key>
        <string>Hide when effects</string>
        <key>PostNotification</key>
		<string>com.PS.CamBlur7/ReloadPrefs</string>
      </dict>
      <dict>
        <key>cell</key>
        <string>PSSwitchCell</string>
        <key>default</key>
        <true/>
        <key>defaults</key>
        <string>com.PS.CamBlur7</string>
        <key>id</key>
        <string>bottomBar4</string>
        <key>key</key>
        <string>handleVideoBB</string>
        <key>label</key>
        <string>Hide when video</string>
        <key>PostNotification</key>
		<string>com.PS.CamBlur7/ReloadPrefs</string>
      </dict>
      <dict>
        <key>cell</key>
        <string>PSSwitchCell</string>
        <key>default</key>
        <true/>
        <key>defaults</key>
        <string>com.PS.CamBlur7</string>
        <key>id</key>
        <string>bottomBar5</string>
        <key>key</key>
        <string>handlePanoBB</string>
        <key>label</key>
        <string>Hide when pano</string>
        <key>PostNotification</key>
		<string>com.PS.CamBlur7/ReloadPrefs</string>
      </dict>
      <dict>
      		<key>cell</key>
      		<string>PSTableCell</string>
      		<key>id</key>
      		<string>bottomBar</string>
      		<key>cellClass</key>
      		<string>CB7ColorCell</string>
      		<key>action</key>
      		<string>showColorPicker:</string>
      		<key>label</key>
      		<string>Blur Color</string>
      </dict>
      <dict>
        <key>cell</key>
        <string>PSGroupCell</string>
        <key>label</key>
      	<string>Note about hiding options</string>
        <key>footerText</key>
        <string>⚪ Hide when effects - Hide blur effect of the bar(s) when the effects selector view is active.
🔴 Hide when video - Hide blur effect of the bar(s) when recording video.
🔵 Hide when pano - Hide blur effect of the bar(s) when capturing panorama.</string>
      </dict>
      <dict>
        <key>cell</key>
        <string>PSGroupCell</string>
        <key>label</key>
      	<string>Blur Amount</string>
      </dict>
      <dict>
			<key>PostNotification</key>
			<string>com.PS.CamBlur7/ReloadPrefs</string>
			<key>cell</key>
			<string>PSSliderCell</string>
			<key>default</key>
			<real>20.0</real>
			<key>defaults</key>
			<string>com.PS.CamBlur7</string>
			<key>key</key>
			<string>blurAmount</string>
			<key>max</key>
			<real>150.0</real>
			<key>min</key>
			<real>0.0</real>
			<key>showValue</key>
			<true/>
		</dict>
		 <dict>
      		<key>cell</key>
      		<string>PSGroupCell</string>
      		<key>label</key>
      		<string>You would need</string>
      		<key>footerText</key>
      		<string>In order to see transparent bars, camera preview need to be maximized.</string>
      		<key>footerAlignment</key>
      		<integer>1</integer>
      </dict>
      <dict>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>cellClass</key>
			<string>HBLinkTableCell</string>
			<key>label</key>
			<string>TransparentCameraBar</string>
			<key>url</key>
			<string>cydia://package/org.thebigboss.transparentcamerabar</string>
			<key>icon</key>
			<string>CamBlur7.png</string>
		</dict>
		<dict>
      		<key>cell</key>
      		<string>PSGroupCell</string>
      		<key>label</key>
      		<string>Developer</string>
      		<key>footerAlignment</key>
		<integer>1</integer>
		<key>footerText</key>
		<string>© 2013 - 2017 Thatchapon Unprasert
(@PoomSmart)</string>
      </dict>
      <dict>
    	<key>big</key>
    	<true/>
    	<key>cellClass</key>
		<string>HBTwitterCell</string>
		<key>height</key>
		<integer>60</integer>
		<key>label</key>
		<string>PoomSmart</string>
		<key>user</key>
		<string>PoomSmart</string>
	</dict>
      <dict>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>cellClass</key>
			<string>HBLinkTableCell</string>
			<key>label</key>
			<string>Donate ❤️</string>
			<key>alignment</key>
			<integer>1</integer>
			<key>url</key>
			<string>http://poomsmart.github.io/repo/</string>
		</dict>
    </array>
  </dict>
</plist>
