<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>title</key>
    <string>CamBlur7</string>
    <key>entry</key>
    <dict>
      <key>cell</key>
      <string>PSLinkCell</string>
      <key>icon</key>
      <string>CamBlur7.png</string>
      <key>label</key>
      <string>CamBlur7</string>
    </dict>
    <key>items</key>
    <array>
      <dict>
        <key>cell</key>
        <string>PSGroupCell</string>
        <key>label</key>
      	<string>Blur Effect</string>
        <key>footerText</key>
        <string>This tweak blurs a camera top bar and bottom bar.</string>
      </dict>
      <dict>
        <key>cell</key>
        <string>PSSwitchCell</string>
        <key>default</key>
        <true/>
        <key>defaults</key>
        <string>com.PS.CamBlur7</string>
        <key>key</key>
        <string>blur</string>
        <key>label</key>
        <string>Enabled</string>
        <key>PostNotification</key>
		<string>com.PS.CamBlur7.prefs</string>
      </dict>
      <dict>
        <key>cell</key>
        <string>PSGroupCell</string>
        <key>label</key>
      	<string>Temporary hide the blur views</string>
        <key>footerText</key>
        <string>Hide in effects view - Hide blur effect of the bar(s) when the effects selector view is active.
Hide in video - Hide blur effect of the bar(s) when recording video.
Hide in pano - Hide blur effect of the bar(s) when capturing panorama.
TB = Top Bar, BB = Bottom Bar</string>
      </dict>
      <dict>
        <key>cell</key>
        <string>PSSwitchCell</string>
        <key>default</key>
        <true/>
        <key>defaults</key>
        <string>com.PS.CamBlur7</string>
        <key>key</key>
        <string>handleEffectTB</string>
        <key>label</key>
        <string>Hide in effects view (TB)</string>
        <key>PostNotification</key>
		<string>com.PS.CamBlur7.prefs</string>
      </dict>
      <dict>
        <key>cell</key>
        <string>PSSwitchCell</string>
        <key>default</key>
        <true/>
        <key>defaults</key>
        <string>com.PS.CamBlur7</string>
        <key>key</key>
        <string>handleEffectBB</string>
        <key>label</key>
        <string>Hide in effects view (BB)</string>
        <key>PostNotification</key>
		<string>com.PS.CamBlur7.prefs</string>
      </dict>
      <dict>
        <key>cell</key>
        <string>PSSwitchCell</string>
        <key>default</key>
        <true/>
        <key>defaults</key>
        <string>com.PS.CamBlur7</string>
        <key>key</key>
        <string>handleVideoTB</string>
        <key>label</key>
        <string>Hide in video (TB)</string>
        <key>PostNotification</key>
		<string>com.PS.CamBlur7.prefs</string>
      </dict>
      <dict>
        <key>cell</key>
        <string>PSSwitchCell</string>
        <key>default</key>
        <true/>
        <key>defaults</key>
        <string>com.PS.CamBlur7</string>
        <key>key</key>
        <string>handleVideoBB</string>
        <key>label</key>
        <string>Hide in video (BB)</string>
        <key>PostNotification</key>
		<string>com.PS.CamBlur7.prefs</string>
      </dict>
      <dict>
        <key>cell</key>
        <string>PSSwitchCell</string>
        <key>default</key>
        <true/>
        <key>defaults</key>
        <string>com.PS.CamBlur7</string>
        <key>key</key>
        <string>handlePanoTB</string>
        <key>label</key>
        <string>Hide in pano (TB)</string>
        <key>PostNotification</key>
		<string>com.PS.CamBlur7.prefs</string>
      </dict>
      <dict>
        <key>cell</key>
        <string>PSSwitchCell</string>
        <key>default</key>
        <true/>
        <key>defaults</key>
        <string>com.PS.CamBlur7</string>
        <key>key</key>
        <string>handlePanoBB</string>
        <key>label</key>
        <string>Hide in pano (BB)</string>
        <key>PostNotification</key>
		<string>com.PS.CamBlur7.prefs</string>
      </dict>
      <dict>
        <key>cell</key>
        <string>PSGroupCell</string>
        <key>label</key>
      	<string>Blur Radius</string>
        <key>footerText</key>
        <string>Set blur amount.</string>
      </dict>
      <dict>
			<key>PostNotification</key>
			<string>com.PS.CamBlur7.prefs</string>
			<key>cell</key>
			<string>PSSliderCell</string>
			<key>default</key>
			<real>20.0</real>
			<key>defaults</key>
			<string>com.PS.CamBlur7</string>
			<key>key</key>
			<string>blurAmount</string>
			<key>max</key>
			<real>200.0</real>
			<key>min</key>
			<real>0.0</real>
			<key>showValue</key>
			<true/>
		</dict>
		<dict>
        <key>cell</key>
        <string>PSGroupCell</string>
        <key>label</key>
        <string>Top Blur Color (RGB)</string>
        <key>footerText</key>
        <string>Set the camera top bar blur color.</string>
      </dict>
      <dict>
			<key>PostNotification</key>
			<string>com.PS.CamBlur7.prefs</string>
			<key>cell</key>
			<string>PSSliderCell</string>
			<key>default</key>
			<real>1.0</real>
			<key>defaults</key>
			<string>com.PS.CamBlur7</string>
			<key>key</key>
			<string>tR</string>
			<key>max</key>
			<real>1.0</real>
			<key>min</key>
			<real>0.0</real>
			<key>showValue</key>
			<true/>
		</dict>
		<dict>
			<key>PostNotification</key>
			<string>com.PS.CamBlur7.prefs</string>
			<key>cell</key>
			<string>PSSliderCell</string>
			<key>default</key>
			<real>1.0</real>
			<key>defaults</key>
			<string>com.PS.CamBlur7</string>
			<key>key</key>
			<string>tG</string>
			<key>max</key>
			<real>1.0</real>
			<key>min</key>
			<real>0.0</real>
			<key>showValue</key>
			<true/>
		</dict>
		<dict>
			<key>PostNotification</key>
			<string>com.PS.CamBlur7.prefs</string>
			<key>cell</key>
			<string>PSSliderCell</string>
			<key>default</key>
			<real>1.0</real>
			<key>defaults</key>
			<string>com.PS.CamBlur7</string>
			<key>key</key>
			<string>tB</string>
			<key>max</key>
			<real>1.0</real>
			<key>min</key>
			<real>0.0</real>
			<key>showValue</key>
			<true/>
		</dict>
		<dict>
        <key>cell</key>
        <string>PSGroupCell</string>
        <key>label</key>
        <string>Bottom Blur Color (RGB)</string>
        <key>footerText</key>
        <string>Set the camera bottom bar blur color.</string>
      </dict>
      <dict>
			<key>PostNotification</key>
			<string>com.PS.CamBlur7.prefs</string>
			<key>cell</key>
			<string>PSSliderCell</string>
			<key>default</key>
			<real>1.0</real>
			<key>defaults</key>
			<string>com.PS.CamBlur7</string>
			<key>key</key>
			<string>bR</string>
			<key>max</key>
			<real>1.0</real>
			<key>min</key>
			<real>0.0</real>
			<key>showValue</key>
			<true/>
		</dict>
		<dict>
			<key>PostNotification</key>
			<string>com.PS.CamBlur7.prefs</string>
			<key>cell</key>
			<string>PSSliderCell</string>
			<key>default</key>
			<real>1.0</real>
			<key>defaults</key>
			<string>com.PS.CamBlur7</string>
			<key>key</key>
			<string>bG</string>
			<key>max</key>
			<real>1.0</real>
			<key>min</key>
			<real>0.0</real>
			<key>showValue</key>
			<true/>
		</dict>
		<dict>
			<key>PostNotification</key>
			<string>com.PS.CamBlur7.prefs</string>
			<key>cell</key>
			<string>PSSliderCell</string>
			<key>default</key>
			<real>1.0</real>
			<key>defaults</key>
			<string>com.PS.CamBlur7</string>
			<key>key</key>
			<string>bB</string>
			<key>max</key>
			<real>1.0</real>
			<key>min</key>
			<real>0.0</real>
			<key>showValue</key>
			<true/>
		</dict>
		<dict>
      		<key>cell</key>
      		<string>PSGroupCell</string>
      		<key>label</key>
        	<string>Blur Quality</string>
      		<key>footerText</key>
      		<string>From here you can choose the blur effect quality.</string>
      </dict>
		<dict>
			<key>cell</key>
			<string>PSLinkListCell</string>
			<key>defaults</key>
			<string>com.PS.CamBlur7</string>
			<key>PostNotification</key>
        	<string>com.PS.CamBlur7.prefs</string>
			<key>detail</key>
			<string>PSListItemsController</string>
			<key>key</key>
			<string>Quality</string>
			<key>label</key>
			<string>Select</string>
			<key>validTitles</key>
			<array>
				<string>low</string>
				<string>default</string>
			</array>
			<key>validValues</key>
			<array>
				<integer>1</integer>
				<integer>0</integer>
			</array>
		</dict>
		<dict>
      		<key>cell</key>
      		<string>PSGroupCell</string>
      </dict>
      <dict>
      		<key>cell</key>
      		<string>PSButtonCell</string>
      		<key>action</key>
      		<string>donate:</string>
      		<key>label</key>
      		<string>Donate ^^</string>
      </dict>
      <dict>
        <key>cell</key>
        <string>PSGroupCell</string>
        <key>footerText</key>
        <string>© 2013 - 2014 Thuchapol Unprasert
(@PoomSmart)</string>
      </dict>
    </array>
  </dict>
</plist>
