<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>title</key>
    <string>CamBlur7</string>
    <key>entry</key>
    <dict>
      <key>cell</key>
      <string>PSLinkCell</string>
      <key>icon</key>
      <string>CamBlur7.png</string>
      <key>label</key>
      <string>CamBlur7</string>
    </dict>
    <key>items</key>
    <array>
      <dict>
        <key>cell</key>
        <string>PSGroupCell</string>
        <key>label</key>
      	<string>Blur Effect</string>
        <key>footerText</key>
        <string>This tweak blurs a camera top bar and bottom bar.
Hide in effects view - Hide blur effect of the bar(s) when the effects selector view is active.
Hide in video - Hide blur effect of the bar(s) when recording video.
TB = Top Bar, BB = Bottom Bar

Note: you need to enable "Full-screen Preview" option and "Camera Bottom Bar Opacity" not less than 1.0 for TransparentCameraBar tweak settings, to make CamBlur7 works properly.</string>
      </dict>
      <dict>
        <key>cell</key>
        <string>PSSwitchCell</string>
        <key>default</key>
        <true/>
        <key>defaults</key>
        <string>com.PS.CamBlur7</string>
        <key>key</key>
        <string>blur</string>
        <key>label</key>
        <string>Enabled</string>
        <key>PostNotification</key>
		<string>com.PS.CamBlur7.prefs</string>
      </dict>
      <dict>
        <key>cell</key>
        <string>PSSwitchCell</string>
        <key>default</key>
        <true/>
        <key>defaults</key>
        <string>com.PS.CamBlur7</string>
        <key>key</key>
        <string>handleEffectTB</string>
        <key>label</key>
        <string>Hide in effects view (TB)</string>
        <key>PostNotification</key>
		<string>com.PS.CamBlur7.prefs</string>
      </dict>
      <dict>
        <key>cell</key>
        <string>PSSwitchCell</string>
        <key>default</key>
        <true/>
        <key>defaults</key>
        <string>com.PS.CamBlur7</string>
        <key>key</key>
        <string>handleEffectBB</string>
        <key>label</key>
        <string>Hide in effects view (BB)</string>
        <key>PostNotification</key>
		<string>com.PS.CamBlur7.prefs</string>
      </dict>
      <dict>
        <key>cell</key>
        <string>PSSwitchCell</string>
        <key>default</key>
        <true/>
        <key>defaults</key>
        <string>com.PS.CamBlur7</string>
        <key>key</key>
        <string>handleVideoTB</string>
        <key>label</key>
        <string>Hide in video (TB)</string>
        <key>PostNotification</key>
		<string>com.PS.CamBlur7.prefs</string>
      </dict>
      <dict>
        <key>cell</key>
        <string>PSSwitchCell</string>
        <key>default</key>
        <true/>
        <key>defaults</key>
        <string>com.PS.CamBlur7</string>
        <key>key</key>
        <string>handleVideoBB</string>
        <key>label</key>
        <string>Hide in video (BB)</string>
        <key>PostNotification</key>
		<string>com.PS.CamBlur7.prefs</string>
      </dict>
      <dict>
        <key>cell</key>
        <string>PSGroupCell</string>
        <key>label</key>
      	<string>Blur Radius</string>
        <key>footerText</key>
        <string>Set blur amount. (value from 0.0 to 100.0)</string>
      </dict>
      <dict>
			<key>PostNotification</key>
			<string>com.PS.CamBlur7.prefs</string>
			<key>cell</key>
			<string>PSSliderCell</string>
			<key>default</key>
			<real>20.0</real>
			<key>defaults</key>
			<string>com.PS.CamBlur7</string>
			<key>key</key>
			<string>blurAmount</string>
			<key>max</key>
			<real>100.0</real>
			<key>min</key>
			<real>0.0</real>
			<key>showValue</key>
			<true/>
		</dict>
      <dict>
        <key>cell</key>
        <string>PSGroupCell</string>
        <key>footerText</key>
        <string>© 2013 - 2014 Thuchapol Unprasert
(@PoomSmart)</string>
      </dict>
    </array>
  </dict>
</plist>
